.section{
    height: 100%;
    padding-bottom: 20px;
}

#one{
    margin-top: 20%;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    max-width: 960px;
    margin: auto;
   
}

h1 {
    margin-left: 20% ;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    letter-spacing: .6em;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 2rem;
}
span{
    font-weight: 250;
}

hr{
    align-items: center;
    justify-content: center;
}

#resume{
    margin-left: 45% ;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

h2 {
    font-size: 2em;
    padding-top: 1rem;
    /* padding-bottom: 1em; */
}

h3 {
    font-size: 2em;
   
    padding-top: 1rem;
}

#three li{
    font-size: 1rem;
}

p{
    font-size: 1.5rem;
}

#three li{
    font-size: 1.5rem;
}